@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');

@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&display=swap');

@font-face {
  font-family: 'amazingKids';
  src: url('./assets/fonts/amazingKids.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border outline-none;
  }

  body {
    @apply max-w-[1728px] w-full overflow-x-hidden;
  }

  #root {
    @apply w-full;
  }

  ::-webkit-scrollbar {
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply flex py-2 md:py-4 px-4 md:px-8 font-satoshi font-bold text-[8px] leading-[11px] md:text-base md:leading-[22px] capitalize rounded-sm md:rounded;
  }

  .btn__white {
    @apply items-start w-[73px] md:w-[145px] h-[27px] md:h-[54px] bg-white text-blu;
  }

  .btn__transparent {
    @apply items-center gap-1 md:gap-2 w-[110px] md:w-[216px] h-[28px] md:h-[54px] border-[0.55831px] md:border border-white text-white;
  }

  .btn__blue {
    @apply items-start w-[83px] h-[27px] md:w-[166px] md:h-[54px] bg-blu  text-white;
  }

  .btn__blue--large {
    @apply w-[209px];
  }

  .btn__white--large {
    @apply w-[220px];
  }

  /* App */
  .app {
    @apply w-full overflow-x-hidden bg-blu;
  }

  /* First */
  .header {
    @apply w-full h-[87px] lg:h-[150px] flex justify-center items-center;
  }

  .header__content {
    @apply w-[92.5%] md:w-[86.1%] h-[24px] md:h-[54px] flex justify-between md:gap-6 items-end p-0 relative;
  }

  .header__content__logo {
    @apply font-amazing text-[19px] leading-[19px]  md:text-[47px] md:leading-[47px] capitalize text-white w-auto md:w-[130px] h-[19px] md:h-[47px];
  }

  .header__btnList {
    @apply text-white;
  }

  .header__btn--modifier {
    @apply px-4 lg:px-8;
  }

  .header__content__linksWrapper {
    @apply flex items-center gap-10 md:gap-2 lg:gap-10 h-auto w-full absolute top-[24px] left-0 bg-blu overflow-hidden border-b-white duration-300 ease-linear transition-all z-50;
  }

  .header__content__linksWrapper.modifier {
    @apply md:static md:w-auto grow-0 md:!h-[47px] md:bg-transparent;
  }

  .header__content__links--url a {
    @apply font-satoshi font-bold text-base md:text-xs lg:text-base leading-[22px]  capitalize;
  }

  /* Second */
  .second {
    @apply w-full h-[797px] lg:h-[900px] xl:h-[925px] flex justify-center items-center overflow-y-hidden text-white relative;
  }

  .second__content {
    @apply w-[92.5%] lg:w-[86.1%] h-full flex justify-between items-center flex-wrap p-0;
  }

  .second__content__header {
    @apply flex flex-col justify-center items-center gap-4 w-full lg:items-start lg:gap-6 lg:w-[50%] h-[270.8px] lg:h-[488px];
  }

  /* Third */
  .third {
    @apply w-full bg-bluLight h-[60px] lg:h-[158px] flex justify-center items-center;
  }

  .third__content {
    @apply w-[77.33%] lg:w-[64.3%] h-[54.03px] flex justify-between items-center gap-[4.05%] overflow-hidden;
  }

  /* Fourth */
  .fourth {
    @apply w-full h-[666px] md:h-[400px] lg:h-[753px] bg-greyLight flex justify-center items-center relative;
  }

  .fourth__content {
    @apply w-[92.5%] h-[620px] md:h-auto lg:h-auto lg:w-[86.1%] flex justify-between items-start md:items-center lg:items-start;
  }

  .fourth__header {
    @apply w-full md:w-[48%] h-[274.38px] lg:h-[518px] flex flex-col items-center justify-center lg:items-start gap-6;
  }

  .fourth__header__top {
    @apply flex flex-col justify-center items-center lg:items-start gap-4 lg:gap-8;
  }

  .fourth__header__top > div {
    @apply flex flex-col justify-center items-center lg:items-start gap-2 lg:gap-4;
  }

  .fourth__header__top div > div {
    @apply flex items-center lg:items-start lg:gap-[10px] isolate;
  }

  .fourth__header__top div > div h3 {
    @apply font-clash font-bold text-2xl leading-9 lg:text-[56px] text-center lg:text-left lg:leading-[70px] capitalize text-[#000f24];
  }

  .fourth__header__top div > div img {
    @apply absolute -left-3 lg:left-[-45px] top-[-14px] lg:top-[-37.26px] -z-30;
  }

  .fourth__header__top div > p {
    @apply w-[87%] font-satoshi font-[500] text-[8px] lg:text-base leading-[15px] lg:leading-[28px] capitalize text-center lg:text-left text-[#a2a2a2];
  }

  .fourth__header__bottom {
    @apply flex flex-col items-center lg:items-start gap-[13.19px] lg:gap-6 w-[78%] lg:w-[90%];
  }

  .fourth__header__bottom > div {
    @apply flex items-start gap-[13.19px] lg:gap-6;
  }

  .fourth__header__bottom > div > button {
    @apply flex items-center gap-4 bg-white rounded-lg py-2 xl:py-5 pl-4 pr-8 xl:pl-6 2xl:pr-14;
  }

  .fourth__header__bottom > div > button > p {
    @apply font-satoshi font-bold text-[8px] xl:text-base lg:text-xs leading-[11px] lg:leading-[22px] text-[#000f24] capitalize;
  }

  /* Fifth */
  .fifth {
    @apply bg-greyLight w-full lg:h-[892px] flex justify-center items-center relative;
  }

  .fifth__content {
    @apply w-[92.5%] lg:w-[86.1%] gap-4 lg:h-[747px] flex items-center flex-col lg:flex-row lg:gap-[9.21%];
  }

  /* Sixth */
  .sixth {
    @apply bg-greyLight w-full h-auto py-10 lg:py-0 lg:h-[1681px] flex justify-center items-center relative;
  }

  .sixth__content {
    @apply w-[92.5%] lg:w-[86.1%] h-auto lg:h-[1555px] flex flex-col items-center gap-4 lg:gap-[56px];
  }

  /* Seventh */
  .seventh {
    @apply w-full h-[402px] lg:h-[600px] xl:h-[900px] bg-greyLight flex flex-col justify-center items-center gap-8 lg:gap-10 overflow-hidden;
  }

  .animated__carousel {
    @apply animate-free-flow;
  }

  /* Eight */
  .eight {
    @apply w-full h-[459px] lg:h-[971px] flex flex-col justify-center items-center;
  }

  /* Ninth */
  .ninth {
    @apply w-full h-auto pt-10 pb-[65px] lg:pt-20 lg:pb-[105px] bg-white flex flex-col justify-center items-center gap-6 lg:gap-[82px] relative;
  }

  /* Last */
  .last {
    @apply w-full pt-10 pb-[164px] px-4 h-[1065px] lg:h-[808px] bg-[#000f24] flex flex-col lg:flex-row justify-center items-start lg:justify-between lg:flex-wrap lg:pt-[166px] lg:pb-[347px] lg:px-[120px] lg:gap-8 lg:h-auto;
  }

  .last__content {
    @apply w-[86.1%] h-[295px] flex justify-between items-start gap-[5.78%];
  }
}
